

.header-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Brush Script MT', cursive;
}


@media screen and (max-width: 992px) {
    
    .header-container{
        
    }
}
    
    @media screen and (max-width: 600px) {

    }