*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Luminari, fantasy; */
}
body{
  background-color: black;
  color: #f8f4f4;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}
.App {
  text-align: center;
}
a{
  text-decoration: none;
}
.scroll-top{
  position: -webkit-fixed;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  background-color: #242924;
  color: rgb(113, 212, 126);
  animation: anime 7s ease infinite;
  transition: 2s;
  z-index: 1;
}

@keyframes anime {
  0% {
    border: 2px solid #ec596f;
  }
  50% {
    transform: scale(1.1,1.1);
    border: 2px solid #626de8;
  }
  100% {
    border: 2px solid #37f05f;
  }
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #f8f4f4;
  height: 100%;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 2s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
